<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <h1>fill out the form</h1>
    <form action="/process" method='POST'>
        {% csrf_token %}
        Name: <input type="text" name='name'>
        Language: <select name='language'>
            <option value="klingon">Klingon</option>
            <option value="dothraki">Dothraki</option>
            <option value="english">English</option>
        </select>
        Location: <select name='location'>
            <option value="azkaban">Azkaban</option>
            <option value="narnia">Narnia</option>
            <option value="earth2020">Earth 2020</option>
        </select>
        <input type="submit" value='New User'>
        <label for="comment">Comment (optional):</label>
        <textarea id="comment" name="comment" class="form-control"></textarea>  
        <button class="btn btn-primary">Submit</button> 
    </form>
</body>
</html>