<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    {% if show_info %}
        <h1>{{show_info.title}}</h1>
            <h1>TV Show: {{show_info.title}}</h1>
            <h4>ID: {{show_info.id}}</h4>
            <h4>Network: {{show_info.network}}</h4>
            <h4>Description: {{show_info.description}}</h4>
            <h4>Release Date: {{show_info.release_date}}</h4>
            <a href="/shows/{{ show.id }}">Show</a> | <a href="/shows/{{ show.id }}/edit">Edit</a> | <a href="/shows/{{ show.id }}/delete">Delete</a></td>
    {% else %}
        <h4>No show selected</h4>
    {% endif %}
    <a href='/shows/edit'>
        <button type='edit'>edit</button>
    </a>
    <a href='/shows/delete'>
        <button type='delete'>delete</button>
    </a>
</body>
</html>