<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Edit Account</title>
      {% load static %}
      <link rel="stylesheet" href="{% static 'css/style.css' %}">    
      <script src="{% static 'js/script.js' %}"></script>
    </head>
    <body>
    <img src="{% static 'img/image.jpg' %}" />

        {% if messages %}
    <ul class="messages">    
        {% for message in messages %}    
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
        {% endfor %}
    </ul>
    {% endif %}
    <h1>Edit your Account</h1>
    <form action ='/edit' method="POST">
        {% csrf_token %}
        <p>First Name <input name='first_name' type='text' value='{{ user.first_name }}'></p>
        <p>Last Name <input name='last_name' type='text' value='{{ user.last_name }}'></p>
        <p>Email <input name='email' type='text'value='{{ user.email }}'></p>
        <p>Password <input name='password' type='text'></p>
        <p>Confirm Password <input name='confirm_pw' type='text' ></p>
        <button type='submit'>Submit</button>
    </form>