<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
        <div id="wrapper">
        <!-- Explaining the game on the home page. -->
        <h1>Welcome to Ninja Gold</h1>
        <h3>The player who acumulates the most ninjas is honored as the Golden Ninja, and wins the game.!</h3>
        <!-- used to prevent cross-site request forgeries  -->
        {% csrf_token %}
        
        <!-- buttons for form submission -->
        <!-- The POST request is needed to keep data private. -->
        <form action='/start_game' method="POST">
            
            {% csrf_token %}
            <input type="text" name="username">
            </select>
            <input type='submit' value="Start Game">
        </form>
</div>
</body>

</html>